/* .image-container{
    margin-top: -70px;
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position:  50% 100% ;
    
    
} */
.image{
    background-image: url("../assets/images/foggymountain.jpg");
    height: 100vh;
    width: 100%;
    background-position: 80% top;
    position: relative;
}

.welcome-box{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 18px;
    width: 14rem;
}
.image > .welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: large;
    letter-spacing: 2px;
    text-align: center;
}

.action-btn {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: none;
    border: transparent solid 1px;
    font-size: larger;
    background-color: white;
    letter-spacing: 1px;
    outline: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: .2s ease-in-out;
}

.action-btn:hover{
    background-color: transparent;
    border: white solid 1px;
    color: white;
}