
.welcome-box{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 18px;
    width: 14rem;
}
.image > .welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: large;
    letter-spacing: 2px;
    text-align: center;
}

.action-btn {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: none;
    border: white solid 2px;
    color: white;
    text-transform: uppercase;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 4px;
    outline: none;
    padding: 0.5rem 1rem;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
}

.action-btn:hover{
    background-color: white;
    border: transparent solid 2px;
    color: black;
}