.Card{
    width: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 70vh;
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.Card__image{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    position: relative;
    top: 5%;
    left: 50%;
}
.Card__title{
    width: 80%;
    color: white;
    text-align: center;
    margin: 40px auto 5px;
    font-size: 2rem;
    font-family: Oswald;
    letter-spacing: 2px;
}

.Card__textbox{
    width: 80%;
    color: white;
    letter-spacing: 2px;
    margin: 4% auto;
    font-size: 1.5rem;
    font-family: 'PT Sans Narrow', sans-serif;

}

@media(max-width: 600px){
    .Card{
        width: 80%;
    }
    .Card__textbox{
        font-size: 1rem;
    }
}